/.env

/composer.lock

/lib/composer

/storage
/views/_cache

/databases/*/error
/databases/*/merge.sql
/databases/*/publish
/databases/*/client.json

/system/_dynamic

/databases/*/*/build.sql
/databases/*/head

/web/build
/web/cdn/*

/spa/cert/*

/TODO