/.env

/composer.lock

/lib/composer

/storage
/views/_cache

/db_connections/*/error
/db_connections/*/merge.sql
/db_connections/*/publish
/db_connections/*/client.json

/system/_dynamic

/db_connections/*/*/build.sql
/db_connections/*/head

/web/build
/web/cdn/*

/spa/cert/*

/TODO